  * {
    box-sizing: border-box;
  }
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  /* Styles all the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Set every odd list item to a different colour  */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }

  /* Darker background colour on mouse hover */
  ul li:hover {
    background: #ddd;
  }

  /* Style the header */
  .header {
    background-color:  #EEA47FFF;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }

  body {
    background-color:  #EEA47FFF;
  }

li .priority {
  float: right;
  margin-left: 10px;
}
.selected {
  background-color: #00539CFF;
  color: #FFFFFF;
}
.priority-button.selected {
  background-color: #00539CFF;
  color: #FFFFFF;
}
.header-box {
  background-color: #f2f2f2;
  padding: 10px;
}

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.priority-button {
  font-size: 16px;
  padding: 8px 12px;
  margin-right: 5px; 
}

#searchBar {
  font-size: 16px;
  padding: 8px;
  width: 200px;
  margin-left: 5px;
}
